{% extends "base.html" %}
{% block about %}
        <meta charset="UTF-8">
        <title></title>

<div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1> EDR</h1>
          <h1> EDR</h1>
        <p>This services provide visualisation of EDR data.</p>
        <p>Developers:</p>
          <p>Vasin Yevhenii: jekavasin1996@gmail.com</p>
          <p>Vasin Konstantin: konstantinvasin747@gmail.com</p>
          <p>Ryabchenko Dmitry: dimaryaba@gmail.com</p>
      </div>

    </div> <!-- /container -->
{% endblock %}